p Challenger: #{challenge.challengingUser.display}
p Challenged: #{challenge.challengedUser.display}
p Challenger's Maze: #{challenge.challengingMaze.name}
p Challenged's Maze: #{challenge.challengedMaze && challenge.challengedMaze.name}
p Challenger's Time: #{challenge.challengingTime}
p Challenged's Time: #{challenge.challengedTime}

if !challenge.challengedMaze
    a(href="./" + challenge.id + "/accept/") Accept This Challenge!

if challenge.challengedMaze && challenge.challengingMaze
    a(href="./" + challenge.id + "/run/") Run This Maze!
