article(id=maze.id)
    h2
        a(href=`./${maze.id}/`) #{maze.name || 'Untitled Maze'}
    p Size #{maze.size}
    p= JSON.stringify(maze)

    maze-viewer(
        data-name= maze.name
        data-map= JSON.stringify(maze.revisions[0].map)
        data-starting-x= maze.revisions[0].start.x
        data-starting-z= maze.revisions[0].start.z
        data-starting-direction= maze.revisions[0].start.direction
        data-destination-x= maze.revisions[0].destination.x
        data-destination-z= maze.revisions[0].destination.z
        )
