html
    head
        meta(charset="utf-8")
        meta(name="description" content="A simple maze editor")
        meta(name="viewport" content="width=device-width")
        
        title Maze editor
        
        // TODO - Stylesheets within app directory
        link(rel="stylesheet" href="css/main.css")

    body
        
        header
            h1 Maze Editor
            
        main
            section
                article(id="user-info")
                    h2 User Info
                    p= user
            
            section(id="maze-list")
                each maze in mazes
                    article(id=maze.id)
                         h2
                             a(href=`./${maze.id}/`)= maze.name
                         p Version #{maze.version} Size #{maze.size}
        footer
            
        script(type="module" src="main.js")
